.usersList {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 5px auto 5px auto;
  width: 650px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin: 5px 0 10px 0;
}

.loadMoreBtn {
  padding: 7px 14px;
  border-radius: 5px;
  background-color: #93c018;
  transition: all 200ms ease-in;
}

.loadMoreBtn:hover {
  background-color: #23a455;
  /* color: aliceblue; */
}
