:root {
  --color-primary: #6ec1e4;
  --color-secondary: #54595f;
  --color-text: #7a7a7a;
  --color-accent: #61ce70;
  --color-7b1599be: #4054b2;
  --color-25d37225: #23a455;
  --color-20dd18a3: #000;
  --color-36b46f90: #fff;
}
