.header {
  grid-area: h;
  background-color: #23a455;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  background-color: inherit;
  padding-top: 10px;
  margin-left: 35px;
}

.loginBlock {
  display: grid;
  padding: 10px;
  align-items: center;
}

.loginLink {
  color: #fff;
  margin-right: 15px;
  transition: all 200ms ease-in;
}

.loginLink:hover {
  color: #93c018;
  text-decoration: none;
}

.activeLink {
  color: #93c018;
}

.userName {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: #fff;
}
