.friendAva {
  display: block;
  max-width: 100%;
  height: auto;
  width: 50px;
  border-radius: 50%;
}

.friendsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.friendsTitle {
  text-align: center;
  color: #fff;
}

.friendsContainer {
  margin: 50px 3px 0 3px;
  padding: 5px 0 5px 0;
  background-color: rgba(255, 255, 255, 0.342);
  border-radius: 10px;
}

.friendBox {
  margin: 1px;
}
