.descriptionBlock {
  position: relative;
  display: flex;
  padding: 10px;
}

.avatar {
  display: block;
  width: 180px;
  margin: 5px 0 5px 5px;
  height: 180px;
  border-radius: 50%;
  background-color: transparent;
}
