.descriptionBlock {
  padding: 10px;
}

.contentImg {
  display: block;
  max-width: 100%;
  width: 500px;
  height: auto;
}

.avatar {
  display: block;
  width: 150px;
  margin: 5px 0 5px 5px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
}
