.item {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.5);
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item__likeBtn {
  margin-right: 5px;
  margin-left: 5px;
  transition: all 150ms ease-in;
}

.item__likeBtn:hover {
  cursor: pointer;
}

.postBody {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.messageText {
  margin-left: 10px;
}

.likesBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.active {
  fill: rgb(255, 0, 0);
}
