.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogLink {
  text-decoration: none;
  color: black;
}

.activeDialog {
  color: green;
}

.messages {
  padding: 10px;
}

.messages .message {
}
