.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  border-right: 1px solid gray;
}

.messages {
  padding: 30px 10px 20px 20px;
}

.formTextarea {
  margin-top: 25px;
  resize: none;
}

.sendMessageContainer {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
